* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: (62.5/100) * 16;
}
body {
  background-color: #eee;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 0.9rem;
}
.app-right {
  display: flex;
  align-items: center;
}
.app-right-card {
  background-color: #ccc;
  padding: 1rem 0rem;
}
.app-right h3 {
  text-align: center;
}
.header {
  margin-bottom: 1rem;
}
.app-left {
  flex: 0.8;
}
.icon {
  font-size: 1.4rem;
  margin-right: 0.2rem;
  margin-bottom: 0.4rem;
}
.card {
  border: 1px solid #ccc;
  background-color: #e5e5e5;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.statistics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.stat-box {
  flex: 1;
}
.stat-box:not(:last-child) {
  margin-right: 10px;
}
.stat-title {
  font-size: 1.2rem;
}
.statistics-info {
  display: flex;
  flex-direction: column;
}
.css-46bh2p-MuiCardContent-root {
  padding: 15px !important;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .statistics {
    align-items: stretch;
    flex-direction: column;
  }
  .statistics > * {
    margin-bottom: 0.5rem;
  }
  .stat-box:not(:last-child) {
    margin-right: 0px;
  }
  .app-right {
    margin-top: 1rem;
  }
}
